body html{
    width: 100%;
}
.header-image {
    background-image: url("../images/header-image.png");
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header-image::before {
    content:"";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000000;
    opacity: 60%
}
.header-text{
    position: absolute;
    top: 30px;
    padding-bottom: 50px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 200px;
}
.nav-li{
    display: flex;
    flex-direction: row;
    padding-left: 455px;
    
}
.li{
    color: white;
    font-weight: bold;
    padding-left: 40px;
}
.active {
    color: #5863F8;
}

.header {
    padding-bottom: 50px;
}
.rooms:after {
    content: ' \02C5';
}
.header-contact {
    position: absolute;
    top: 146px;
    color: white;
    font-size: 42px;
    font-weight: bolder;
}
.home-contact{
    position: absolute;
    top: 200px;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
}

.column {
    width: 1px;
    height: 15px;
    background-color: #ffffff;
    margin-right: 15px;
    margin-left: 15px;
    position: center;
}
.map-section {
    margin: 0 auto;
    max-width: 1088px;
    width: 100%;
    margin-bottom: 90px;

}
.map{
    margin-top: 50px;
    margin-bottom: 56px;
}
.contact-section {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.text-contact{
    max-width: 438px;
    width: 100%;
    height: 115px;
}
.contact-title1 {
    font-size: 14px;
    font-weight: bold;
    color: #5863F8;
}

.contact-title2 {
    font-size: 42px;
    color: #000000;
    font-weight: bolder;
    max-width: 378px;
    width: 100%;
    margin-bottom: 50px;
}
#message {
    width: 720px;
    height: 288px;
    background-color: #F8F8F8;
    border: 2px solid #E8E8E8;
    padding: 20px;
    margin-right: 20px;
    resize: none;
}
.form {
    display: flex;
    flex-direction: row;
}
.right-form {
   display: flex;
   flex-direction: column;
}
.input {
    width: 352px;
    height: 60px;
    margin-bottom: 16px;
    padding: 20px;
    font-size: 13px;
    color: #5863F8; 
    background-color: #F8F8F8;
    border: 2px solid #E8E8E8;
}
.btn{
    max-width: 352px;
    width: 100%;
    height: 60px;
    background-color: #5863F8;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.input::placeholder {
    color: rgb(8, 12, 12);
}

.images{
    display: flex;
    max-width: 1366px;
    width: 100%;
    justify-content: space-between;
}

.email-div{
    max-width: 200px;
    width: 100%;
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blue-icon{
    max-width: 59px;
    height: 58px;
    width: 100%;
    background: #5863F8;
    border-radius: 180px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.contact-title{
    font-size: 18px;
    color: black;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-text{
    color: #B1B1B1;
    font-size: 14px;
    max-width: 362px;
}
.fa-regular{
    color: #E8E8E8;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 90px;
}
.footer{
    width: 100%;
    height: 395px;
    background-color: #121212;
}
.logos {
    max-width: 260px;
    width: 100%;
    height: 190px;
    color: #F8F8F8;
    margin-right: 200px;
}
.links {
    max-width: 140px;
    width: 100%;
    height: 190px;
    color: #F8F8F8;
    margin-left: 90px;
}
.sth{
    display: flex;
    flex-direction: row;
    padding: 90px 201px 40px 139px;
}
.useful-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #5863F8;
}
.link-word{
    color: #5863F8;
}
.white{
    color: white;
    text-align: justify;
    font-size: 14px;
}
.h3{
    padding-bottom: 20px;
}
.contact-icons{
    display: flex;
    flex-direction: row;
    gap: 14px;
}
.fa-regular {
    color: #3B5998;
}

.copyright{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 139px 0px 130px;
}
.link {
 padding-left: 350px;
}
.Zetta-footer{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}
.ourhotel-footer {
    color: #B1B1B1;
    font-size: 14px;
    text-align: justify;
    font-weight: bold;
}
.icons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10.4px;
}
.facebook{
    background-color:#3B5998;

}

.twitter{
    background-color:#55ACEE ;
}

.google{
    background-color:#DC4E41;
}
.fa-brands {
    color: white;
    font-size: 20px;
    text-align: center;
}
.social-icons{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}